{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Name: {{ user.username }}</p>
    <p>Total Contribution: {{ total_contribution }}</p>
    <p>Total Upvotes: {{ total_upvotes }}</p>
    <p>Total Downvotes: {{ total_downvotes }}</p>

    <h2>Posts</h2>
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-item">
                <h3><a href="{{ url_for('view_topic', post_id=post._id) }}">{{ post.title }}</a></h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}